/* Write your CSS here */
.bg-container {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10%;
}
.heading {
  font-family: 'Roboto', 'Open Sans';
}
.input {
  width: 200px;
  height: 35px;
  background-color: #f1f5f9;
  border-style: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-left: 10px;
  margin-bottom: 10px;
}
.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  list-style-type: none;
  overflow-y: scroll hidden;
}
.destination-search-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 90%;
}
.search-icon-container {
  width: 35px;
  height: 35px;
  background-color: #f1f5f9;
  text-align: center;
  transform: translateY(-5px);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.search-icon {
  width: 30px;
  height: 30px;
  text-align: center;
}
.input-search-container {
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .bg-container {
    background-color: #ffffff;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10%;
  }
  .cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    overflow-y: scroll hidden;
  }
}
